In [1]:
def InputData():
    import pandas as pd
    import os

    dirname='../900-Crawler-Data-Pond/100-Raw-Zone'
    filename='Firstname-Data.csv'
    setsep=','

    fullfilename=os.path.abspath(os.path.join(dirname, filename))
    df=pd.read_csv(
        fullfilename,
        header=0,
        sep=setsep,
        encoding='latin1',
        skip_blank_lines=True,
        quotechar='"',
        verbose=False,
        low_memory=True
    )
    return df

In [2]:
def trimData(sValueIn):
    sValueOut = str(sValueIn).strip().capitalize()
    return sValueOut
    
def ProcessData(df):
    import pandas as pd
    setinputcolumn='FirstName'
    setoutputcolumn='FirstNameOutput'
    df2=df.copy(deep=True)
    df2[setoutputcolumn]=df2.apply(lambda row: trimData(row[setinputcolumn]), axis=1)
    return df2

In [3]:
def OutputData(df):
    import pandas as pd
    import os

    dirname='../900-Crawler-Data-Pond/000-Workspace-Zone/WZ-000000001'
    filename='AndreOutputData.csv'
    setsep=','
    
    if not os.path.exists(dirname):
        print('Creating new directory')
        print(dirname)
        os.makedirs(dirname)

    fullfilename=os.path.abspath(os.path.join(dirname, filename))
    df.to_csv(
        fullfilename,
        header=True,
        sep=setsep,
        encoding='latin1',
        quotechar='"',
        index=False
    )
    return True

In [4]:
df=InputData()

In [5]:
df2=ProcessData(df)

In [6]:
r=OutputData(df2)

In [7]:
df2.shape

(29668, 5)

In [8]:
df2.columns

Index(['index', 'FirstName', 'Cnt', 'Sex', 'FirstNameOutput'], dtype='object')

In [9]:
df2.head()

,index,FirstName,Cnt,Sex,FirstNameOutput
0,0,HARRY ...,"7,523",Male,Harry
1,1,OLIVER,"7,007",Male,Oliver
2,2,JACK,"6,844",Male,Jack
3,3,ALFIE,"5,524",Male,Alfie
4,4,CHARLIE,"5,516",Male,Charlie