In [23]:
import os
import numpy as np
import pandas as pd

In [2]:
filename1 = os.path.abspath('../../../800-Test-Data/100-CSV/ukpostcodes.csv')
print(filename1)

C:\Users\sirve\OneDrive\My Documents\RaptorQube\Jupyter\800-Test-Data\100-CSV\ukpostcodes.csv

In [3]:
filename2 = os.path.abspath('../../../800-Test-Data/100-CSV/ukpostcodesfix.csv')
print(filename2)

C:\Users\sirve\OneDrive\My Documents\RaptorQube\Jupyter\800-Test-Data\100-CSV\ukpostcodesfix.csv

In [12]:
df = pd.read_csv(filename1, header='infer')

In [39]:
d=pd.DataFrame(df.ftypes)
d.reset_index(inplace=True)
d.columns=['FieldName','FieldType']

In [40]:
d

   FieldName      FieldType
0         id    int64:dense
1   postcode   object:dense
2   latitude  float64:dense
3  longitude  float64:dense

In [44]:
df.memory_usage(index=False, deep=True)

id            14125872
postcode     113815362
latitude      14125872
longitude     14125872
dtype: int64

In [56]:
df1=df[['id', 'latitude']]
df1.shape

(1765734, 2)

In [57]:
df2=df[['id', 'longitude']]
df2.shape

(1765734, 2)

In [62]:
df1.corrwith(df2, axis=0, drop=False, method='pearson')

id           1.0
latitude     NaN
longitude    NaN
dtype: float64

In [ ]:
df1.corrwith(df2, axis=0, drop=False, method='kendall')

In [63]:
df1.corrwith(df2, axis=0, drop=False, method='spearman')

id           1.0
latitude     NaN
longitude    NaN
dtype: float64

In [69]:
df.kurtosis(axis=None, skipna=None, level=None, numeric_only=None)

id            -0.123520
latitude     101.457437
longitude      0.527652
dtype: float64